<ul class="nav" *ngIf="authService.isAuthenticated()">
  <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard"
      routerLinkActive="active text-dark"
      [routerLinkActiveOptions]="{exact: true}">Admin</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/admin/posts"
      routerLinkActive="active text-dark">Posts</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/admin/logout"
      routerLinkActive="active text-dark">Logout</a>
  </li>
</ul>

<router-outlet></router-outlet>
