<ul class="fx-menu">
  <li>
      <a routerLink="/"
         routerLinkActive="fx-menu__link--active"
         [routerLinkActiveOptions]="{exact: true}">Posts</a>
  </li>
  <li>
      <a routerLink="/admin"
         routerLinkActive="fx-menu__link--active">Admin</a>
  </li>
  <li>
      <a routerLink="/home"
         routerLinkActive="fx-menu__link--active">Home</a>
  </li>
  <li>
      <a routerLink="/form-template"
         routerLinkActive="active text-dark">Form Template</a>
  </li>
  <li>
      <a routerLink="/form-reactive"
         routerLinkActive="active text-dark">Form Reactive</a>
  </li>
  <li>
      <a routerLink="/directives"
         routerLinkActive="active text-dark">Directives</a>
  </li>
  <li>
      <a routerLink="/observables"
         routerLinkActive="active text-dark">Observables</a>
  </li>
  <li>
      <a routerLink="/subjects"
         routerLinkActive="active text-dark">Subjects</a>
  </li>
  <li>
      <a routerLink="/pipes"
         routerLinkActive="active text-dark">Pipes</a>
  </li>
  <li>
      <a routerLink="/viewer"
         routerLinkActive="active text-dark">Viewer</a>
  </li>
  <li>
      <a routerLink="/todos"
         routerLinkActive="active text-dark">Todos</a>
  </li>
  <li>
      <a routerLink="/http"
         routerLinkActive="active text-dark">HTTP</a>
  </li>
  <li>
      <a routerLink="/animation"
         routerLinkActive="active text-dark">Animation</a>
  </li>
  <li>
      <a routerLink="/page/long-polling"
         routerLinkActive="active text-dark">Long Polling</a>
  </li>
  <li>
      <a routerLink="/style-guide"
         routerLinkActive="active text-dark">Style guide</a>
  </li>
</ul>
