<section class="bg-light p-3 rounded">
    <h3 class="text-center mb-3">Reactive Form with Validation</h3>
    <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <div class="col-4">
                <label for="inputUsernameId" class="form-label">Username</label>
                <div>Validators:</div>
                <ul>
                    <li>Required</li>
                    <li>Max length is 15</li>
                    <li>Pattern: a-z,A-Z,0-9,-_</li>
                    <li>Custom: cannot be {{ forbiddenUsernames }}</li>
                </ul>
            </div>
            <div class="col-8">
                <input 
                type="text" 
                class="form-control" 
                id="inputUsernameId" 
                formControlName="username"
                [ngClass]="{
                    'is-valid': userForm.controls.username.valid && userForm.controls.username.touched,
                    'is-invalid': userForm.controls.username.invalid && userForm.controls.username.touched
                }">
                <div
                *ngIf="!userForm.get('username').valid && userForm.get('username').touched" 
                class="invalid-feedback">Username is required.</div>
                <div
                *ngIf="userForm.get('username').errors?.pattern" 
                class="invalid-feedback">Only letters, numbers, dashes and undersores are allowed.</div>
                <div
                *ngIf="userForm.get('username').errors?.maxlength" 
                class="invalid-feedback">15 symbols maximum.</div>
                <div
                *ngIf="userForm.get('username').errors?.usernameForbidden" 
                class="invalid-feedback">Username cannot be {{ forbiddenUsernames }}</div>
                
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <label for="inputEmailId" class="form-label">Email</label>
                <div>Validators:</div>
                <ul>
                    <li>Required</li>
                    <li>Email</li>
                    <li>Custom async (3sec): cannot be test@test.com</li>
                </ul>
            </div>
            <div class="col-8">
                <input 
                type="text" 
                class="form-control" 
                id="inputEmailId" 
                formControlName="email"
                [ngClass]="{
                    'is-valid': userForm.controls.email.valid && userForm.controls.email.touched,
                    'is-invalid': userForm.controls.email.invalid && userForm.controls.email.touched
                }">
                <div
                *ngIf="!userForm.get('email').valid && userForm.get('email').touched" 
                class="invalid-feedback">Email is required.</div>
                <div
                *ngIf="userForm.get('email').errors?.email" 
                class="invalid-feedback">Email is not valid.</div>
                <div
                *ngIf="userForm.get('email').errors?.emailForbidden" 
                class="invalid-feedback">Email cannot be test@test.com.</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <label for="inputGenderId" class="form-label">Sex</label>
            </div>
            <div class="col-8">
                <select
                class="form-select"
                id="inputGenderId"
                formControlName="gender"
                [ngClass]="{
                    'is-valid': userForm.controls.gender.valid && userForm.controls.gender.touched,
                    'is-invalid': userForm.controls.gender.invalid && userForm.controls.gender.touched
                }">
                    <option></option>
                    <option 
                    *ngFor="let genderItem of genderList | keyvalue : originalOrder" 
                    [value]="genderItem.key">{{ genderItem.value }}</option>
                </select>
                <div
                *ngIf="!userForm.get('gender').valid && userForm.get('gender').touched" 
                class="invalid-feedback">Sex is required.</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4"></div>
            <div class="col-8">
                <button 
                type="submit" 
                class="btn btn-primary btn-lg "
                [disabled]="!userForm.valid"
                >Submit</button>
            </div>
        </div>
    </form>

    <pre>{{ userForm.value | json }}</pre>
</section>