<section class="bg-light p-3 rounded">
  <h3 class="text-center mb-3">Reactive Form with Validation</h3>
  <form
    novalidate
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-4">
        <label
          for="inputUsernameId"
          class="form-label">
          Username
        </label>
        <div>Validators:</div>
        <ul>
          <li>Required</li>
          <li>Max length is 15</li>
          <li>Pattern: a-z,A-Z,0-9,-_</li>
          <li>Custom validator: cannot be {{ forbiddenUsernamesL }}</li>
        </ul>
      </div>
      <div class="col-8">
        <input
          type="text"
          class="fx-input"
          id="inputUsernameId"
          formControlName="username"
          [ngClass]="{
            'fx-input--success': form.controls.username.valid && form.controls.username.touched,
            'fx-input--danger': form.controls.username.invalid && form.controls.username.touched
          }" />
        <div
          *ngIf="form.get('username').invalid && form.get('username').touched"
          class="fx-u-color-danger">
          Username is required.
        </div>
        <div
          *ngIf="form.get('username').errors?.pattern"
          class="fx-u-color-danger">
          Only letters, numbers, dashes and undersores are allowed.
        </div>
        <div
          *ngIf="form.get('username').errors?.maxlength"
          class="fx-u-color-danger">
          {{ form.get('username').errors?.maxlength.requiredLength }} symbols maximum.
          {{ form.get('username').errors?.maxlength.actualLength }} symbols entered.
        </div>
        <div
          *ngIf="form.get('username').errors?.forbiddenUsername"
          class="fx-u-color-danger">
          Username cannot be {{ form.get('username').value }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label
          for="inputEmailId"
          class="form-label">
          Email
        </label>
        <div>Validators:</div>
        <ul>
          <li>Required</li>
          <li>Email</li>
          <li>Custom async validator (3sec delay): cannot be test@test.com</li>
        </ul>
      </div>
      <div class="col-8">
        <input
          type="text"
          class="fx-input"
          id="inputEmailId"
          formControlName="email"
          [ngClass]="{
            'fx-input--success': form.controls.email.valid && form.controls.email.touched,
            'fx-input--danger': form.controls.email.invalid && form.controls.email.touched
          }" />
        <div
          *ngIf="form.get('email').invalid && form.get('email').touched"
          class="fx-u-color-danger">
          Email is required.
        </div>
        <div
          *ngIf="form.get('email').errors?.email"
          class="fx-u-color-danger">
          Email is not valid.
        </div>
        <div
          *ngIf="form.get('email').errors?.forbiddenEmail"
          class="fx-u-color-danger">
          Email cannot be {{ form.get('email').value }}.
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label
          for="inputGenderId"
          class="form-label">
          Gender
        </label>
      </div>
      <div class="col-8">
        <select
          class="fx-select"
          id="inputGenderId"
          formControlName="gender"
          [ngClass]="{
            'fx-select--success': form.controls.gender.valid && form.controls.gender.touched,
            'fx-select--danger': form.controls.gender.invalid && form.controls.gender.touched
          }">
          <option></option>
          <option
            *ngFor="let genderItem of genderList | keyvalue"
            [value]="genderItem.key">
            {{ genderItem.value }}
          </option>
        </select>
        <div
          *ngIf="form.get('gender').invalid && form.get('gender').touched"
          class="fx-u-color-danger">
          Gender is required.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-8">
        <input type="checkbox" id="agreeTerms" formControlName="agreeTerms">
        <label for="agreeTerms">I agree to the terms and conditions</label>
        <div 
          *ngIf="form.get('agreeTerms').invalid && form.get('agreeTerms').touched"
          class="fx-u-color-danger">
            <p>You must agree to the terms and conditions to proceed.</p>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-8">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="form.invalid">
          Submit
        </button>
      </div>
    </div>
  </form>

  <h3>Form value:</h3>
  <pre>{{ form.value | json }}</pre>

  <h3>Form errors:</h3>
  <pre>{{ collectFormErrors() | json }}</pre>
</section>
