<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/" 
        routerLinkActive="active text-dark" 
        [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/form-template" routerLinkActive="active text-dark">Form Template</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/form-reactive" routerLinkActive="active text-dark">Form Reactive</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/observables" routerLinkActive="active text-dark">Observables</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/pipes" routerLinkActive="active text-dark">Pipes</a>
    </li>
</ul>
