<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home"
        routerLinkActive="active text-dark">Home</a>
        <!-- [routerLinkActiveOptions]="{exact: true}" -->
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/form-template" routerLinkActive="active text-dark">Form Template</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/form-reactive" routerLinkActive="active text-dark">Form Reactive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/directives" routerLinkActive="active text-dark">Directives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/observables" routerLinkActive="active text-dark">Observables</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/pipes" routerLinkActive="active text-dark">Pipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewer" routerLinkActive="active text-dark">Viewer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/http" routerLinkActive="active text-dark">HTTP</a>
    </li>
</ul>
