<section class="animation-slider">
  <div *ngFor="let sliderItem of sliderList; let itemIndex = index" >
    <div [@animationDefault]
         [@animationSlider]="sliderIndex"
         *ngIf="sliderIndex === itemIndex + 1">
      <h3>{{ sliderItem }}</h3>
    </div>
  </div>


  <button (click)="prevItem()">Prev</button>
  <button (click)="nextItem()">Next</button>
</section>


<section class="animation-default">
  <h3 [@animationDefault]
      *ngIf="isVisible">Title is visible or not</h3>

  <button (click)="isVisible = !isVisible">Hide/Show</button>
</section>
