<section class="bg-light p-3 rounded">
    <h3 class="text-center mb-3">Reactive Form with ability to add or remove form rows dynamically</h3>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

        <section class="row mb-3">
            <div class="col-4">
                <label class="form-label">User List (dynamic field via FormArray)</label>
            </div>
            <div class="col-8">
                <div [formArrayName]="'userList'">
                    <div *ngFor="let userListControl of getUserListControls(); let idx = index">
                        <div class="row mb-3" [formGroupName]="idx">
                            <div class="col-5">
                                <input type="text" class="form-control"
                                       [formControlName]="'name'"
                                       placeholder="Name"
                                       [ngClass]="{
                                         'is-valid': userListControl.get('name').valid && userListControl.get('name').touched,
                                         'is-invalid': userListControl.get('name').invalid && userListControl.get('name').touched
                                       }"/>
                            </div>
                            <div class="col-5">
                                <input type="text" class="form-control"
                                       [formControlName]="'phone'"
                                       placeholder="Phone"
                                       [ngClass]="{
                                         'is-valid': userListControl.get('phone').valid && userListControl.get('phone').touched,
                                         'is-invalid': userListControl.get('phone').invalid && userListControl.get('phone').touched
                                       }"/>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-secondary"
                                        (click)="removeUserListControl(idx)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-secondary"
                                (click)="addUserListControl('', '')">Add</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="row mb-3">
            <div class="col-4"></div>
            <div class="col-8">
                <button
                type="submit"
                class="btn btn-primary btn-lg"
                [disabled]="form.invalid"
                >Submit</button>
            </div>
        </div>
    </form>

    <pre>{{ form.value | json }}</pre>
</section>
